
//// BIG BUTTON CLASS
@mixin btn-LG($bg-color: $error) {
  //mobile first mdQuery
  @extend %X-FLEX-CENTER;
  @extend %L-TITLE;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  // padding: calc(1.61vw + 0.1vw);
  padding: clamp(11px, 20vw, 19px);
  border-radius: $base-border-radius;
  background-color: $bg-color;
  min-width: calc(11vw + 8vw);
}

//MEDIUM BUTTON CLASS
@mixin btn-MD {
  @extend %M-TITLE;
  @include btn-LG($bg-color: $secondary);
  padding: clamp(9px, 16vw, 19px);
  // padding: calc(0.71vw + 0.6vw);
  min-width: calc(8vw + 7vw);
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn-LG($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  
  .btn-outlined-#{$key} {
    @include btn-LG(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  
  .btn-complement-#{$key} {
    @include btn-LG($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}
